:root.theme-light {
  --dark-header-bg: url(../images/cover-image-light.png);
  --main-font-family: 'IBM Plex Mono', monospace;
  --main-color: #353430;
  --accent-color: #FF8DCB;
  --footer-shadow: #FF0070;
  --title-color: #FFC2E6;
  --font-weight: 700;
  --content-text-size: 18px;
}

.theme-light .page {
  .decorated-zone::before {
    border-color: var(--main-color);
  }

  .decorated-zone::after {
    border-color: var(--main-color);
  }

  .lamp::before {
    display: none;
  }

  .lamp::after {
    display: none;
  }

  .header__theme-menu {
    color: var(--main-color);
  }

  .header__theme-menu-button:hover {
    outline: 1px solid #32312D66;
    cursor: pointer;
  }
  
  .header__theme-menu-button:focus {
    outline: none;
  }
  
  .header__theme-menu-button:focus-visible {
    border-bottom: 1px solid var(--main-color);
  }

  .header__theme-menu-button_active {
    border-color: var(--main-color);
  }

  h2 {
    color: var(--main-color);
  }

  .title-decor {
    color: var(--main-color);
  }

  .accent-link {
    text-shadow: 2px 2px 0 var(--accent-color);
  }

  .footer-title {
    color: var(--title-color);
    text-shadow: 2px 1px 0 var(--footer-shadow);
  }
}
@media (width <= 375px) {
  :root {
    --content-padding: 10px;
    --title-font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  }
}

@media (768px <= width < 1024px) {
  :root {
    --content-padding: 20px;
    --title-font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }
}

@media (width >= 1024px) {
  :root {
    --content-padding: 20px;
    --title-font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }
}